@model LoanManager.Models.Loan

<link href="~/datetimepicker/jquery.datetimepicker.min.css" rel="stylesheet" />
<script src="~/datetimepicker/jquery.datetimepicker.full.min.js"></script> 
@Html.AjaxFormSubmiterV2("myForm", "tbLoan", true,  Localizer["ActionSuccess"].Value)

<form id="myForm" asp-action="Edit" role="form" enctype="multipart/form-data">
    @await Html.PartialAsync("_ModalHeader", new ModalHeader { Heading = Localizer["FillRequired"].Value })
    <div class="modal-body form-horizontal">
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label asp-for="DateAdded" class="col-lg-4 col-sm-6 control-label"></label>
                    <div class="col-lg-6">
                        <input type="text" asp-for="DateAdded" class="form-control" />
                        <script>$(function () { $('#DateAdded').datetimepicker({ format:'m/d/Y H:i' }); });</script>
                    </div>
                </div>

            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label asp-for="Name" class="col-lg-4 col-sm-6 control-label"></label>
                    <div class="col-lg-6">
                        <input asp-for="Name" class="form-control" />
                    </div>
                </div>

            </div>
        </div>
    </div>
    @await Html.PartialAsync("_ModalFooter", new ModalFooter { CancelButtonText = Localizer["Cancel"].Value, SubmitButtonText = Localizer["Submit"].Value })
</form>
