@model LoanManager.Models.Role

@Html.AjaxFormSubmiterV2("myForm", "tbRole", true,  Localizer["ActionSuccess"].Value)

<form id="myForm" asp-action="Edit" role="form" enctype="multipart/form-data">
    @await Html.PartialAsync("_ModalHeader", new ModalHeader { Heading = Localizer["FillRequired"].Value })
    <div class="modal-body form-horizontal">
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label asp-for="RoleName" class="col-lg-4 col-sm-6 control-label"></label>
                    <div class="col-lg-6">
                        <input asp-for="RoleName" class="form-control" />
                    </div>
                </div>

            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label asp-for="IsActive" class="col-lg-4 col-sm-6 control-label"></label>
                    <div class="col-lg-6">
                        <input asp-for="IsActive" style="margin-top:10px" type="checkbox" />
                    </div>
                </div>

            </div>
        </div>
    </div>
    @await Html.PartialAsync("_ModalFooter", new ModalFooter { CancelButtonText = Localizer["Cancel"].Value, SubmitButtonText = Localizer["Submit"].Value })
</form>
